.contenedorStyle{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    text-align: center;
}
.contenedorStyle:hover{
    background-color: rgb(85, 160, 68);
}

ul{
    display: flex;
    font-weight: bold;
    margin: 0px 10px;
    text-align: center;
    text-decoration: none;
}

.aInicio{
    justify-content: center;
    color: black;
    text-decoration: none;
}

    

