.contenedorStyle{
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

.titulo{
    cursor: pointer;
    align-items: center;
    background-color: rgb(21, 34, 20);
}

